[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = git@github.com:junegunn/fzf.vim.git
[submodule "pack/plugins/start/coc.nvim"]
	path = pack/plugins/start/coc.nvim
	url = git@github.com:neoclide/coc.nvim.git
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = git@github.com:tpope/vim-unimpaired.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
